{% extends 'common/base.html'%}

{% block content %}
<div class="container mt-3">
    <h1>Welcome, Home</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">a</th>
            <th scope="col">a*2</th>
            <th scope="col">a*4</th>
        </tr>
        </thead>
        <tbody>
        {% for d in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{d.a}}</td>
                <td>{{d.b}}</td>
                <td>{{d.c}}</td>
            </tr>
        {% endfor %}

        </tbody>
    </table>
</div>
{% endblock %}